*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
logs/
build/
env
env_linux

#src
*.sqlite*

.env
node_modules
yarn.lock
package-lock.json

tasks_logs/
media/

#/media/
!/media/mapper.json
!/media/Sales.csv
.env*

celerybeat-schedule*
/dump.rdb
/static/dist/*
**/__pycache__/